* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	background-color: #e80202;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
} */

.block {
	position: absolute;
	width: 50px;
	height: 100px;
	background-color: #e80202bd;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.card-img-top {
	object-fit: cover;
  height: 200px;
  width: 100%;
}